.navigation {
  &_checkbox {
  }

  &_botton {
  }

  &_background {
    height: 12.5;
    width: 23.5;
    position: fixed;
    top: ;
    background-image: radial-gradient($color-basic, $color-basicII);
  }

  &_nav {
  }
  &_list {
  }
  &_item {
  }
  &_link {
  }
}
