// Small devices (landscape phones, 576px and up)
@mixin  sm{
    @media (min-width: 576px) { @content;}
    }
    
    // Medium devices (tablets, 768px and up)
    @mixin md{
      @media (min-width: 768px) { @content;}
    }
    
    // Large devices (desktops, 992px and up)
    @mixin lg{
      @media (min-width: 992px) { @content;}
    }
    
    // Extra large devices (large desktops, 1200px and up)
    @mixin xl{
      @media (min-width: 1200px) { @content;}
    }

.menu_button{
margin-top:10px;
  position: fixed;
  margin-left: auto;
  @include md{
visibility: hidden;}}



.menu_button_div{
  display: flex;
  margin-left: auto;
  padding-right: 100px;
  align-items: flex-start;
  justify-content: space-between;
  width: 30%;
  margin-left: 90%;
  position: fixed;
  height: 55;
  width: 100%;

  .scroll &{
    display: flex;
    margin-left: auto;
    padding-right: 100px;
    align-items: flex-start;
    justify-content: space-between;
    width: 30%;
    margin-left: 90%;
    position: fixed;
    height: 55;
    width: 100%;
    background-color: $color-basic;

  }
}

.menu_button_black{
  display: none;
  visibility: hidden;

  .scroll &{
    visibility:visible;
    display: block;
  margin-top:10px;
  position: fixed;
  margin-left: auto;
  @include md{
visibility: hidden;}}
}


.navigation_list{
  visibility: hidden;
position:absolute;
top: 50%;
left: 50%;
  transform: translate(-50%, -50%);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size:32px;
  color: $color-basic;
  list-style: none;}

.navigation_linkI{
    cursor: pointer;
    margin:25px;}

.navigation_linkI:hover
.navigation_linkI:active
.navigation_linkI:hover
{display: inline-block;}

.navigation_checkbox:checked + .navigation_button .navigation_icon {
background-color: transparent;}

.navigation_checkbox:checked + .navigation_button .navigation_icon::before {
    top:0px; 
    transform: rotate(45deg);}

    .navigation_checkbox:checked + .navigation_button .navigation_icon::after {
       top:0px;
        transform: rotate(-45deg);}



.navigation_checkbox:checked ~ .navigation_background {
 
    transform: scale(1000);}

.navigation_checkbox:checked ~ .navigation_nav {
    transform: scale(1);
    opacity: 1;
    width: 100%;}