@import "variables";
@import "base";
@import "components/hero";
@import "navigation";

@mixin font-color ($col){
  color: $col;}
@mixin font ($color){
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  color: $color;}

@mixin fontI ($color){
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size:32px;
  color: $color;}

@mixin fontIII ($color){
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28.13px;
  color: $color;}

@mixin fontIV ($color){
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
  color: $color;}

@mixin center{
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;}

// Small devices (landscape phones, 576px and up)
@mixin  sm{
@media (min-width: 576px) { @content;}
}

// Medium devices (tablets, 768px and up)
@mixin md{
  @media (min-width: 768px) { @content;}
}

// Large devices (desktops, 992px and up)
@mixin lg{
  @media (min-width: 992px) { @content;}
}

// Extra large devices (large desktops, 1200px and up)
@mixin xl{
  @media (min-width: 1200px) { @content;}
}


// Very large desktop devices (1920px and up)
@mixin xxl{
  @media (min-width: 1920px) { @content;}
}

$color-basic: #ffffff;
$color-basicII: 111111;
$color-black: black;
$color-grey:#737373;
$color-cream:#f6efe2;
$color-stone:#E9E9E9;





p{
  @include font ($color-black);
  font-size: 14px;
  line-height: 18px;
  @include md{ font-size: 18px;line-height: 24px;}}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;}

.navigation_divI{
  visibility: hidden;
  @include sm{
  visibility: visible;
  display: flex;
  margin-left: auto;
  padding-right: 100px;
  align-items: flex-start;
  justify-content: space-between;
  width: 30%;
  margin-left: 60%;
  position: fixed;}}



.navigation_linkI{
  visibility: hidden;
  @include sm{
    visibility: visible;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.09px;
    color: $color-basic;
    text-decoration: none;}}

.navigation_linkI:hover{
  color: $color-cream;}

.navigation_linkI:active{
  text-decoration: underline;}

.logobox {
  position: relative;}

.logoI {
  height: 21px;
  position: fixed;
  margin-left: 24px;
  margin-top: 10px;
  @include md{
visibility: hidden;}}

.logoII {
  visibility: hidden;
  display: none;
  @include md {
    visibility: visible;
    display: inline;
    height: 35px;
    margin-left: 112px;
    margin-top: 16.5px;
    position: fixed;
  }}

.header12{

  background-color: $color-black;
  height: 55px;
  position: relative;
}

.header1 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
      ),
      url("../Images/FEND-Coffee-latte-art-4.png");
  position: relative;
  background-size: cover;
  width: auto;
  height: 500px;
  top: 0px;
  @include md{ height: 681px;}
  @include xl{ background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
    ),
    url("../Images/FEND-Coffee-latte-art-3.png");}}

.header1café{
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
    ),
    url("../Images/FEND-Coffee-shop-3.jpg");
position: relative;
background-size: cover;
width: auto;
height: 375px;
top: 0px;
@include md{ height: 681px;}
@include xl{ background-image: linear-gradient(
  0deg,
  rgba(0, 0, 0, 0.3),
  rgba(0, 0, 0, 0.3)
  ),
  url("../Images/FEND-Coffee-shop-2.jpg");}}

  .header1herkunft{
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
      ),
      url("../Images/FEND-Coffee-beans-hand-2-2.jpg");
  position: relative;
  background-size: cover;
  width: auto;
  height: 375px;
  top: 0px;
  @include md{ height: 681px;}
  @include xl{ background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
    ),
    url("../Images/FEND-Coffee-beans-hand-2.jpg");}}

.header {
  position: absolute;
  width: 375px;
  height: 500.25px;
  left: 0px;
  top: 0px;
  background-position: center;}


 .videobox{
  display: flex;
  justify-content: center;
  align-items: center;

  .videoboxI{display: block;
    width: 86%;
  }
  .video{
    width: 100%;
  }
 } 

.textbox {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;}

.rusticabox {
  width: 218px;
  height: 75px;}

.h1 {
  margin: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  @include font-color ($color-basic);
  @include xl {font-size: 96px}}

.Biobox {
  height: 21px;
  left: 100px;
  top: 268px;
  @include xl {width: auto;}}

.subtitel {
  position: relative;
  margin: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  @include font-color ($color-basic);}


.button:link{
  text-decoration: none;
  background-color: $color-black;
  height: 33px;
  width: 163px;
  padding-top:15px;
  font-size: 14px;
  line-height: 18px;
  transform: translate(-50%, +190%);
  position: absolute;
  border-radius: 5px;
  @include font ($color-basic);
  cursor: pointer;}

.button:hover{
color: $color-cream;}

.button:active{
text-decoration: underline;}

.Röstbox {
margin-top: 60px;
margin-left:24px;
  width: 255px;
  height: 34px;
  left: 24px;
  top: 560px;
  display: block;
  @include md { width: auto;}
  @include xl{margin-left:104px;margin-top: 0px;}}

.RöstboxI{
  margin-left:24px;
  margin-right:20px;
  margin-top: 20px;
  max-width: 507px;
  display: block;
  @include xl{width: 507px; margin-left:104px;margin-top:35px;}}

.RöstboxIII{
  margin:24px;
  margin-right: 5px;
  margin-top:21px;
  @include xl{margin-left: 0px;}}
  
.RöstboxIV{
  margin:24px;
  margin-right: 5px;
  margin-top:21px;
  @include xl{ margin-left: 120px;}}

.RöstboxIIII{
  margin: 40px 20px 0px 24px;
  max-width: 507px;
  @include xl{margin-top: 181px;margin-left: 0px;width: 76%;}
  p{
    @include xl{ margin-top:24px;}
  }}

.Head2{
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 34px;
  margin-block-start: 0px;
  margin:0px;
  @include font-color($color-black);
  @include md{ font-size: 48px; line-height: 49.22px;}}

.Head21{
  @include md{ font-size: 48px; line-height: 56.25px;margin-top:0px;}
}

.Head2white{
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 34px;
 margin: 0px 45px 40px 40px;
 position: relative;
  @include font-color($color-basic);
  @include md {
    margin-left:122px;
    margin-top:125px;
    width: 25%;}}

    .Head2black{
      font-family: Roboto;
      font-style: normal;
      font-weight: 900;
      font-size: 36px;
      line-height: 34px;
     margin: 0px 45px 40px 40px;
     position: relative;
      @include font-color($color-black);
      @include md {
        margin-left:122px;
        margin-top:125px;
        width: 35%;
      font-size: 48px;
      line-height: 56.25px;

      }}
  
  .RöstbildI{
    justify-content: flex;
    align-items: right;
    display: flex;
    margin-top: 0px;
    margin-right: 0px;
    @include xl{margin-right:101px;margin-top: 124px;}}

  .RöstbildII{
margin: 40px 0px 0px 24px;
display: inline;
@include xl{margin-left:104px; margin:124px 122px 0px 0px; display:flex;}}

  .Röstbild1{
    height: 182px;
    width:241 ;
    padding-left: 86px;
    margin-top: 16px;
    @include xl{height: 391px;margin-top:0px;}}

  .fontshopI{
    @include font ($color-basic)}

  .fontshopII{
    font-size:14px;
    @include font ($color-grey)}

    .fontshop3{
      @include font ($color-black)}
    

  .Röstbild2{
    height: 182px;
    width:241 ;
    margin-bottom: 60px;
    @include xl{height: 406px;}}

.fix{
  display: block;
  @include xl{margin-top: 124px;}}

.fx0{
display: block;}

.flexitem{
display: flex;}

.fixI{
display: inline;
  @include xl{display:flex;}}

  .flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;}
 
  .flexboxI{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include xl{margin-left:104px;} }

  .flexboxIV{
display: block;
flex-direction: row-reverse;
flex-wrap:wrap-reverse;

    @include xl{display: flex;
      flex-direction: row-reverse;
      margin-right:auto;
      justify-content: center;  } }

  .flexbox00{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;}

  .flexbox01{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 55%;}



    .flexbox02{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
@include md{
  flex-direction: column;
}
    }

.SortenII{

  display: block;
  position: relative;
  padding-top:60px;
}

.SortenI{
  padding-bottom: 75px;
  display: block;
  position: relative;
  padding-top:60px;
  
}

.Costadiv{

  padding-left: 35.25px;
  padding-bottom: 41px;
        }
        .Image-CostaaI{
         
          visibility: hidden;
          display: none;
      @include md{
      visibility: visible;
      width: 100%;
      display: inline;
      
      }}


        .Image-Costaa{
          width: 100%;
          visibility: visible;
          background-color: $color-stone;
      @include md{
      visibility: hidden;
      display: none;
      
      } }

.Sorten{
background-color: $color-black;
padding-bottom: 75px;
display: block;
position: relative;
padding-top:60px;


.Image-Costa{
  width: 100%;}
  }

.CostaI{
width: 41%;
margin: 40px 8px 40px 24px;
@include xl {width: 299px;}}

.CostaII{
  width: 41%;
  margin: 40px 25px 40px 8px;
  @include md {
    margin: 40px 8px 40px 8px;}
  @include xl {width: 299px;}}
  .CostaIII{
    width: 41%;
    margin: 40px 8px 40px 24px;
    @include md {
      margin: 40px 8px 40px 8px;}
    @include xl {width: 299px;}}
    
    .CostaIV{
      width: 41%;
      margin: 40px 25px 40px 8px;
      @include xl {width: 299px;} }

    .Icon{
      display: flex;
      margin: 0px 5px;
      margin-left:auto; } 


.buttonII{
  @include center();
  @include md{
  margin-top: 97px;
  margin-bottom: 140px; }}

    .buttonI:link{
      text-decoration: none;
      background-color: $color-black;
      height: 33px;
      width: 163px;
      padding-top:15px;
      font-size: 14px;
      line-height: 18px;
      border-radius: 5px;
      border: 2px solid;
      border-style: $color-basic;
      @include center;
      @include font ($color-basic);
      cursor: pointer; }

.buttonI:hover{
  color: $color-cream; }
  .buttonI:active{
  text-decoration: underline;}

.map{
  display: block;
  margin-top:35px;
  width: 100%;
  height: 231px;
  @include xl{height: 484px;}}

.Herkunft{
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../Images/FEND-Coffee-bags-2.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 332px;
  text-align: center;
  display: block;
  @include md{ height: 800px;}
  @include xl{ height: 524px}}

.HerkunftI{
  position: absolute;
  width: 100%;}

.HerkunftII{
  position: absolute;
  margin-top: 12px;
  width: 70%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  @include xl {width: 20%}
}

.Head3
{
  margin-top: 87px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 37.5px;
  text-align: center;
  @include font-color ($color-basic);
  @include xl {font-size: 49.22px; line-height: 49.22px; margin-top: 145px}
}

.Inhalt{
margin: 60px 0px 72px 0px;
height:850px;
background-color: $color-basic;
display: inline;

@include md {
  align-items: center;display: flex; justify-content: flex-start; flex-direction:column;
}
@include xl {display: flex; justify-content: flex-start; flex-direction:column; padding-bottom: 125px ;
 align-items: center;}

.InhaltIII{
  @include md{
    margin-top:125px;
    margin-bottom: 88px;
      }
}

h2{
margin: 60px 65px 35px 65px;
@include xl { margin:0px;}
}

.Image-CostaII{
width: 214px;
height: auto;
margin-left: 74px;
@include md {
    width: auto;height: 110%;
    margin-left:0px;
  
}



}

.Costabox{
  justify-content: center;
  margin-right:auto;

}

.productsusc{
width: 300px;

}

.InhaltflexI{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include xl { display: flex;
    justify-content: space-between;
    flex-direction: row;}
  .Iconbox1{
  margin: 40px 18px 40px 24px;
  text-align: center;
  width: 87px;
  
  .p{
    height: 53px;
  }
  
  }
  .Iconbox2{
    margin: 40px 18px 40px 18px;
    text-align: center;
    width: 87px;
    .p{
      height: 53px;
    }
  }
  .Iconbox3{
    margin: 40px 24px 40px 18px;
    text-align: center;
    width: 87px;
    .p{
      height: 53px;
    }
  }
  }

.Inhaltflex{

display: flex;
flex-direction: row;
justify-content: space-between;
@include xl { display: flex;
  justify-content: space-between;
  flex-direction: column;}
.IconboxI{
margin: 40px 18px 40px 24px;
text-align: center;
width: 87px;

.p{
  height: 53px;
}

}
.IconboxII{
  margin: 40px 18px 40px 18px;
  text-align: center;
  width: 87px;
  .p{
    height: 53px;
  }
}
.IconboxIII{
  margin: 40px 24px 40px 18px;
  text-align: center;
  width: 87px;
  .p{
    height: 53px;
  }
}
}

.buttonIII{
    @include center()  
}

.buttonIII:link{
  text-decoration: none;
  background-color: $color-black;
height: 33px;
width: 163px;
padding-top:15px;
font-size: 14px;
line-height: 18px;
  position: absolute;
  border-radius: 5px;
  @include font ($color-basic);
  @include xl {
    visibility: hidden;
  }
}

.buttonIV:hover{
  color: $color-cream;
  }
  .buttonIV:active{
  text-decoration: underline;
  }

  .buttonIV{
    @include center()  
}

.buttonIV:link{
  visibility: hidden;
  text-decoration: none;
  background-color: $color-black;
height: 33px;
width: 163px;
padding-top:15px;
font-size: 14px;
line-height: 18px;
  position: absolute;
  border-radius: 5px;
  @include font ($color-basic);
  @include xl{ visibility: visible;}
}

.buttonIV:hover{
  color: $color-cream;
  }
  .buttonIV:active{
  text-decoration: underline;
  }
}

.middle{
  @include font ($color-basic);
  font-size: 14px;
margin-top:60px;
line-height: 18px;
}

.mapboxI{
  margin-top:70px;
  margin-left: 24px

}

.mapbox{
margin-top:87px;
margin-left: 24px;

}
  .iframe{
    width: 100%;
    height: 231px;
    border:none;
    @include xl{height: 484px;}
  }

.footer{

  background-color: $color-black;

  
  display: block;

@include md {

  display: flex;
}  
  .logo{

    margin: 0px 0px 0px 26px;
   
    @include fontIII ($color-basic); 
    @include md { font-size: 42px;}
    
  }

  .logo1{
    margin-left: 26px;
    margin-top: 0px;
    @include fontIV ($color-basic); 
    @include md { margin-top: 14px;}
  }
.flexo{

  

 
  @include md{  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 219px;
  }

    .flexoII{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
@include md{
  flex-direction: row-reverse;
  margin-right:242px;
  width: 40%;
}
    }
    

}
.LogoboxIV{
  margin: 0px 0px 21.79px 26px;
  display: block;
  padding-top: 61px;
  
  @include md {
padding-top: 138.92px;

  }
    }
    .LogoIV{
      @include md{ display: none;
      }
    }

    .LogoIII{
      display: none;
      @include md{ display: flex;
    }

   

    
    .LOGO{

      margin-bottom: 34px;
      margin-top:0px;
  


      }
    }

    .LogoboxIIV{

      @include md{
        margin: 0px 170px 148px 199px;
        padding-bottom: 148px;;


      }
    }
.middle1box{
 
  margin: 0px 17px 34px 26px;
  width: 156px;
  @include md{ width: auto;
  margin-bottom: 27px;}
}

.middle2box{
 
  margin: 0px 17px 34px 26px;
}
.middle3box{
  width: 156px;
  margin: 0px 17px 0px 26px;
  padding-bottom: 78px;
  @include md { margin-top: 18px;}
}
.middle4box{
 
  margin: 0px 17px 0px 26px;
  padding-bottom: 78px;
  @include md{ 
    margin-right: auto;margin-top: 18px;}
}
  
}
.middle1{
  @include font ($color-basic)
}
    .middle2{
      @include font ($color-basic)
    }
    .middle3{
      margin:0px;
      @include font ($color-basic)
    }
    .middle3link{
      margin:0px;
      font-size: 14px;
    line-height: 18px;
      text-decoration: none;
      &:active{
        text-decoration: underline;
      }
      &:hover{
        color: $color-cream;
        


      }
      @include md {
        font-size: 18px;
        line-height: 24px;

      }
      @include font ($color-basic)
    }
    .middle4{
      margin-top:0px;
      @include font ($color-basic)
    }


    .centercafébox{
     margin:60px 24px 48px 24px;
     @include md {
      
      justify-content: center;
      display: flex;
      align-items: center;
     }
    }

     .centercaféitem{

      @include md {

        width: 40%;
      }
     }

     

.hcafé{font-size: 32px;
@include md {
display: flex;
margin: auto;

}

}

.centercaféboxI{
  margin:60px 24px 48px 24px;
  
   
   justify-content: center;
   display: flex;
   align-items: center;
   flex-direction: row;
  }
  .centercaféboxII{
display: none;
    @include xl{
      margin:60px 100px 152px 100px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

    }
  
    }

  .imagesrowI{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 16px;
    @include xl{
      display: none;
      
      }
      }
  .imagesrowII{
display: flex;
flex-direction: column;
flex-wrap: wrap;
@include xl{
display: none;

}
  }
  .rowI{
margin-bottom: 14px;

  }

  .rowII{
margin-bottom:20px;

  }
  .imagesrowIII{
display:none;
@include xl{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 16px;

 

}


  }
  .imagesrowIV{
    display:none;
    @include xl{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-right: 16px;
    
    }}

    .Anbauherkunft{
      margin: 60px 24px 26px 24px;
      @include md {

        margin: 0px 0px 35px 0px;

      }}
      .AnbauherkunftI{
        margin: 60px 24px 26px 24px;
        @include md {
  
          margin: 0px 0px 35px 0px;
          width:55%;
        }

    }
    .RöstboxIherkunft{
      margin: 20px 20px 60px 24px;
      max-width: 507px;
      display: block;
      @include xl{width: 507px; margin-top:35px;margin-left:0px; width:65%;}}
    
      .RöstboxIIherkunft{
        margin-left:24px;
        margin-right:20px;
        margin-top: 20px;
        max-width: 507px;
        display: block;
        @include xl{width: 60%; margin-top:35px;margin-left:0px;}}


      
      .flexbox00herkunft{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        @include md {
          flex-direction: row-reverse;
        

        }
      }
      .RöstbildIherkunft{
        justify-content: flex;
        align-items: left;
        display: flex;
        margin: 6px 110px 60px 24px;
        @include md{margin-right:101px;margin-top: 125px;}}

        .RöstbildIIherkunft{
          justify-content: flex;
          align-items: left;
          display: flex;
          margin: 6px 110px 60px 24px;
          @include md{margin-right:122px;margin-top: 251px;}}
  

        .Röstbild1herkunft{
          padding-left: 86px;
          margin-top: 16px;
          @include xl {display:none}}

          .Röstbild1-1hekrunft{
           display: none;
            @include xl { 
              display: block;
              }}


              .Röstbildherkunft{
                justify-content: flex;
    align-items: right;
    display: flex;
    margin-top: 0px;
    margin-right: 0px;
    @include md{margin-top: 251px;}}

    .Röstbild1-2herkunft{
      margin-top: 16px;
      @include xl {display:none;}
    }

    .centerimpress{

      @include md {

        width: 60%;
      }
      
     }


 .centercaféboximpressum{
  margin:133px 24px 48px 24px;
  @include md {
   
   justify-content: center;
   display: flex;
   align-items: center;
  }}

  .centercontact{
    margin:133px 24px 48px 24px;
    @include md {
     
     justify-content: center;
     display: flex;
     align-items: center;

  }}

.contactflex{
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
  margin-top: 41px;
  @include md {
     
    width: 110%;

 }

}

.contactbox{
  margin-left: auto;
  margin-right: 3%;
  @include md{ margin-right: 15%; width: 30%;}
}
.contactbox21{
  margin-left: auto;
  margin-right: 3%;
}

  .contactname:active
  {
background: $color-stone;
  }

  .contactname{
border-style:none;
border-bottom-style: solid;
padding-top:0px;
border-color: $color-black;
width: 90%;
padding: 11px 20px;
@include md {
  font-size: 18px; line-height: 24px;
}

  }
  .contactnameI{
    border-style:none;
    border-bottom-style: solid;
    padding-top:0px;
    border-color: $color-black;
    width: 90%;
    border-width: 2px;
    padding: 11px 20px;
    font:inherit;
    @include md {
      font-size: 18px; line-height: 24px; font:inherit;
    }
      }

      .contactnameI::placeholder{
        margin-bottom: 0px;
font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding-top:40px;


      }


  .label{
margin-bottom: 0px;
font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top:40px;
   
  @include md {
    font-size: 18px; line-height: 24px;
  }
  }
  .labelI{
    margin: 0px;
    font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        @include md {
          font-size: 18px; line-height: 24px;
      }}

      .buttoncontact{
        text-decoration: none;
        background-color: $color-black;
        height: 48px;
        width: 171px;
        font-size: 14px;
        font-family: Roboto;
        line-height: 18px;
        border-radius: 5px;
        margin:40px 0px;
        @include md {
          font-size:18px;
        }
        @include font ($color-basic);
        cursor: pointer;}
      
      .buttoncontact:hover{
      color: $color-cream;}
      
      .buttoncontact:active{
        text-decoration: underline;}
        .buttoncontactbox{
          justify-content: center;
          display: flex;
          align-items: center;
          width: 90%;
        }
    .centerimpresssI{

      @include md {

        width: 80%;
        display: flex;
        flex-direction: row;
      }
    }

